body{height:100%;}
.main-frame{width:100%;height:100%;position: relative;overflow: hidden;}
.frame-wrapper{width:100%;height:100%;position: absolute;top:0;left:0;overflow:hidden;}
.frame{width:16rem;height:100%;overflow: hidden;float:left;}

.frame-end-mast{
    @extend .frame-wrapper;
    z-index:20;
    background:rgba(0,0,0,0.8);

    .replay{
        display:block;
        width:4rem;
        height:1.8rem;
        background:#000;
        color:#fff;
        text-align: center;
        line-height: 1.8rem;
        margin:5rem auto 0;
    }
}

.loading-mast{
    @extend .frame-wrapper;

    background:#000;
    color:#fff;
    font-size:30px;
    text-align: center;
    line-height: 70px;
    z-index:50;
}


//弹幕层
.view-wrapper{
    @extend .frame-wrapper;
    z-index:10;
}

.tip-list{
    width:100%;
    height:100%;
    position: absolute;
    top:0;
    left:0;
}
$tippadding:0.8rem;
.tip-top{line-height: 1.6rem;padding:0 $tippadding 0 $tippadding;background:orange;font-size:0.8rem;position: absolute;top:1rem;-webkit-transform:translate3d(16rem,0,0);transform:translate3d(16rem,0,0);}
.tip-middle{
    @extend .tip-top;
    top:3rem;
}
.tip-bottom{
    @extend .tip-top;
    top:5rem;
}
.tip-four{
    @extend .tip-top;
    top:6.8rem;
}
.tip-five{
    @extend .tip-top;
    top:8.5rem;
}

.control-wrapper{
    width:100%;
    height:8rem;
    position: absolute;
    bottom:0;
    left:0;
    z-index:10;

    #dantext{
        width:10rem;
        line-height: 1.2rem;
        display:block;
        margin:1.3rem 0 0 2rem;
    }

    .input-btn{
        width:2rem;
        height:2rem;
        position: absolute;
        right:1rem;
        top:1rem;
        background:#000;
        line-height: 2rem;
        color:#fff;
        text-align: center;
        border-radius: 1rem;
    }

    .dan-btn{
        @extend .input-btn;

        top:5rem;
    }
}



