<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="utf-8">
    <title>618"饰放"狂欢，囤够一夏'</title>
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width,initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="yes" name="apple-touch-fullscreen">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <link rel="icon" href="http://wx.ooklady.com/easyui/wechat/images/favicon.ico" type="image/x-icon">
    <script>
        (function () {
            var df_width = 320, df_dpr = 1, df_fs = 20, win = window, doc = document, html = doc.getElementsByTagName('html')[0];
            html.setAttribute('data-dpr', win.devicePixelRatio);
            html.setAttribute('style', 'font-size:' + (doc.documentElement.clientWidth / df_width * df_fs) + 'px');
        })();
    </script>
    <script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
    <script src="http://tjs.sjs.sinajs.cn/open/api/js/wb.js?appkey=1126357321&debug=true" charset="utf-8"></script>
    <script src="http://wx.ooklady.com/easyui/wechat/js/OAuth_login.js"></script>
</head>
<body>
    <div id="app">
        <div class="part">
            <img src="http://wx.ooklady.com/imgs/xiaoqing/summer618/0cover.jpg">
        </div>
        <!-- all -->
        <a class="part" :href="' ' | getProductList ' '">
            <img src="http://wx.ooklady.com/imgs/xiaoqing/summer618/1all.jpg">
        </a>
        <!-- /all -->
        <!-- 限时购 -->
        <div class="part limit-time">
            <div class="title">
                <img src="http://wx.ooklady.com/imgs/xiaoqing/summer618/2limit_time.jpg">
            </div>
            <div class="limit-time-wrapper">
                <ul class="time-list">
                    <li class="time-item">
                        <span>0:00</span><br/>
                        <span class="text">已抢购</span>
                    </li>
                    <li class="time-item">
                        <span>8:00</span><br/>
                        <span class="text">抢购中</span>
                    </li>
                    <li class="time-item">
                        <span>12:00</span><br/>
                        <span class="text">敬请期待</span>
                    </li>
                    <li class="time-item">
                        <span>16:00</span><br/>
                        <span class="text">敬请期待</span>
                    </li>
                    <li class="time-item">
                        <span>20:00</span><br/>
                        <span class="text">敬请期待</span>
                    </li>
                </ul>
                <ul class="time-product">
                    <li class="product-item" v-for="timeItem in products.timelimit">
                        <product :info="item" v-for="item in timeItem"></product>
                    </li>
                </ul>
            </div>
        </div>
        <!-- /限时购 -->
        <!-- 销量榜产品 -->
        <div class="part top1">
            <img src="http://wx.ooklady.com/imgs/xiaoqing/summer618/3top1.jpg">
            <a :href="item | getProductInfo" class="p{{$index+1}} topp" v-for="item in products.top4s"></a>
        </div>
        <div class="part top2">
            <a :href="item | getProductInfo" class="topb" v-for="item in products.top5_12s"></a>
            <a :href="products.topmore | getProductList" class="topb"></a>
        </div>
        <!-- /销量榜产品 -->
        <!--  3折扣 -->
        <a class="part" :href="products.discount | getProductList">
            <img src="http://wx.ooklady.com/imgs/xiaoqing/summer618/4discount3.jpg">
        </a>
        <!-- / 3折扣 -->
        <!--  趋势 -->
        <div class="part trend">
    
        </div>
        <!-- / 趋势 -->
        <!-- oshow -->
        <div class="part star">

        </div>
        <!-- /oshow -->
        <!-- 礼物 -->
        <div class="part gift">
        </div>
        <!-- /礼物 -->
        <!-- 品牌 -->
        <div class="brand"></div>
        <!-- /品牌 -->
        <!-- bottom -->
        <div class="bottom"></div>
        <!-- /bottom -->
    </div>
</body>
</html>