<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="utf-8">
    <title>618"饰放"狂欢，囤够一夏'</title>
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width,initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="yes" name="apple-touch-fullscreen">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <link rel="icon" href="http://wx.ooklady.com/easyui/wechat/images/favicon.ico" type="image/x-icon">
    <script>
        (function () {
            var df_width = 320, df_dpr = 1, df_fs = 20, win = window, doc = document, html = doc.getElementsByTagName('html')[0];
            html.setAttribute('data-dpr', win.devicePixelRatio);
            html.setAttribute('style', 'font-size:' + (doc.documentElement.clientWidth / df_width * df_fs) + 'px');
        })();
    </script>
    <script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
    <script src="http://tjs.sjs.sinajs.cn/open/api/js/wb.js?appkey=1126357321&debug=true" charset="utf-8"></script>
    <script src="http://wx.ooklady.com/easyui/wechat/js/OAuth_login.js"></script>
</head>
<body>
    <div id="app">
        <div class="part">
            <img src="http://wx.ooklady.com/imgs/xiaoqing/summer618/1all.jpg">
        </div>
        <div class="part limit-time">
            <div class="title">
                <img src="http://wx.ooklady.com/imgs/xiaoqing/summer618/2limit_time.jpg">
            </div>
            <div class="limit-time-wrapper">
                <ul class="time-list">
                    <li class="time-item">
                        <span>0:00</span><br/>
                        <span class="text">已抢购</span>
                    </li>
                    <li class="time-item">
                        <span>8:00</span><br/>
                        <span class="text">抢购中</span>
                    </li>
                    <li class="time-item">
                        <span>12:00</span><br/>
                        <span class="text">敬请期待</span>
                    </li>
                    <li class="time-item">
                        <span>16:00</span><br/>
                        <span class="text">敬请期待</span>
                    </li>
                    <li class="time-item">
                        <span>20:00</span><br/>
                        <span class="text">敬请期待</span>
                    </li>
                </ul>
                <ul class="time-product">
                    <li class="product-item">
                        <product :info="{
                            url:'http://ooklady.com/imgs/item/20151204/201607221950358041.png',
                            name:'14K包金星月双层叠戴项链',
                            brand:'1',
                            nowprize:299,
                            delprize:500,
                        }" :nowsell="3"></product>
                        <product :info="{
                            url:'http://ooklady.com/imgs/item/20151204/201607221950358041.png',
                            name:'一人美梦 14K包金捕梦网项链',
                            brand:'品牌：LandonLacey',
                            nowprize:199,
                            delprize:389,
                        }" :nowsell="5"></product>
                    </li>
                    <li class="product-item">
                        <product :info="{
                            url:'http://ooklady.com/imgs/item/20151204/201607221950358041.png',
                            name:'14K包金星月双层叠戴项链',
                            brand:'2',
                            nowprize:299,
                            delprize:500,
                        }" :nowsell="3"></product>
                        <product :info="{
                            url:'http://ooklady.com/imgs/item/20151204/201607221950358041.png',
                            name:'一人美梦 14K包金捕梦网项链',
                            brand:'品牌：LandonLacey',
                            nowprize:199,
                            delprize:389,
                        }" :nowsell="5"></product>
                    </li>
                    <li class="product-item">
                        <product :info="{
                            url:'http://ooklady.com/imgs/item/20151204/201607221950358041.png',
                            name:'14K包金星月双层叠戴项链',
                            brand:'3',
                            nowprize:299,
                            delprize:500,
                        }" :nowsell="3"></product>
                        <product :info="{
                            url:'http://ooklady.com/imgs/item/20151204/201607221950358041.png',
                            name:'一人美梦 14K包金捕梦网项链',
                            brand:'品牌：LandonLacey',
                            nowprize:199,
                            delprize:389,
                        }" :nowsell="5"></product>
                    </li>
                    <li class="product-item">
                        <product :info="{
                            url:'http://ooklady.com/imgs/item/20151204/201607221950358041.png',
                            name:'14K包金星月双层叠戴项链',
                            brand:'4',
                            nowprize:299,
                            delprize:500,
                        }" :nowsell="3"></product>
                        <product :info="{
                            url:'http://ooklady.com/imgs/item/20151204/201607221950358041.png',
                            name:'一人美梦 14K包金捕梦网项链',
                            brand:'品牌：LandonLacey',
                            nowprize:199,
                            delprize:389,
                        }" :nowsell="5"></product>
                    </li>
                    <li class="product-item">
                        <product :info="{
                            url:'http://ooklady.com/imgs/item/20151204/201607221950358041.png',
                            name:'14K包金星月双层叠戴项链',
                            brand:'5',
                            nowprize:299,
                            delprize:500,
                        }" :nowsell="3"></product>
                        <product :info="{
                            url:'http://ooklady.com/imgs/item/20151204/201607221950358041.png',
                            name:'一人美梦 14K包金捕梦网项链',
                            brand:'品牌：LandonLacey',
                            nowprize:199,
                            delprize:389,
                        }" :nowsell="5"></product>
                    </li>
                </ul>
            </div>
        </div>
        <div class="part top1">
            <img src="http://wx.ooklady.com/imgs/xiaoqing/summer618/3top1.jpg">
            <a :href="item | getProductInfo" class="p{{$index+1}} topp" v-for="item in products.top4s"></a>
        </div>
        <div class="part top2">
            <a :href="item | getProductInfo" class="topb" v-for="item in products.top5_12s"></a>
        </div>
        <a class="part" :href="products.discount | getProductList">
            <img src="http://wx.ooklady.com/imgs/xiaoqing/summer618/4discount3.jpg">
        </a>

    </div>
</body>
</html>