@import './lib/css/reset.scss';
html,body,.swiper-container,.swiper-container2,.swiper-wrapper,.swiper-slide{height:100%;}
.swiper-slide{
    overflow: hidden;
}
@function rem($px){
    @return $px/750*16rem;
}
@function rem640($px){
    @return $px/640*16rem;
}
@mixin postl($w:0,$h:0){
    position: absolute;
    top:rem($h);
    left:rem($w);
}
@mixin postr($w:0,$h:0){
    position: absolute;
    top:rem($h);
    right:rem($w);
}
@mixin posbl($w:0,$h:0){
    position: absolute;
    bottom:rem($h);
    left:rem($w);
}
@mixin posbr($w:0,$h:0){
    position: absolute;
    bottom:rem($h);
    right:rem($w);
}

.slide1{
    background:url(http://wx.ooklady.com/imgs/xiaoqing/xiaoya/1bg.jpg) no-repeat center center;
    background-size:cover;

    .go{
        width:rem(43);
        @include posbl(42,42);
    }

    .ring{
        width:rem(108);
        @include posbl(170,100);            
    }

    .pklist{
        width:rem(174);
        @include posbr(60,130);
    }

    .neck{
        width:rem(123);
        @include posbl(100,270);
    }
}

.slide2{
     background:url(http://wx.ooklady.com/imgs/xiaoqing/xiaoya/2bg.jpg) no-repeat center center;
    background-size:cover;

    .letter{
        width:rem(650);
        @include postl(100,40);
    }
    .talk{
        width:rem(280);
        @include posbr(0,42);
    }
}
.slide3{
    background:url(http://wx.ooklady.com/imgs/xiaoqing/xiaoya/3bg.jpg) no-repeat center center;
    background-size:cover;   

    .product{
        width:rem640(356);
        height:rem640(520);
        overflow: hidden;
         background:url(http://wx.ooklady.com/imgs/xiaoqing/xiaoya/3product.png) no-repeat center center;
    background-size:cover;   
        @include postl(100,0);

        .top{
            width:100%;
            height:rem640(200);
            position: absolute;
            top:1rem;
            left:0;
        }
        .bottom{
            width:100%;
            height:rem640(200);
            position: absolute;
            bottom:1rem;
            left:0;
        }
    }  
}
.slide4{
    background:url(http://wx.ooklady.com/imgs/xiaoqing/xiaoya/4bg.jpg) no-repeat center center;
    background-size:cover;   
}
.slide5{
    background:url(http://wx.ooklady.com/imgs/xiaoqing/xiaoya/5bg.jpg) no-repeat center center;
    background-size:cover;   

    .product{
        background:url(http://wx.ooklady.com/imgs/xiaoqing/xiaoya/5product.png) no-repeat center center;
    background-size:cover; 
        width:rem640(620);
        height:rem640(690);
        overflow: hidden;
        @include posbr(0, 0);

        .left{
            width:8rem;
            height:6rem;
            @include posbl(30,50);
        }
        .right{
            width:6rem;
            height:4.5rem;
            @include posbr(20, 300);
        }
    }
}
.slide6{
    background:url(http://wx.ooklady.com/imgs/xiaoqing/xiaoya/6bg.jpg) no-repeat center center;
    background-size:cover;   

    .talk{
        width:rem640(410);
        @include posbr(0,0);
    }
}
.slide7{
    background:url(http://wx.ooklady.com/imgs/xiaoqing/xiaoya/7bg.jpg) no-repeat center center;
    background-size:cover; 
    .text{
        width:rem640(325);
        @include postl(130,0);
    }
    .product{
        background:url(http://wx.ooklady.com/imgs/xiaoqing/xiaoya/7product.png) no-repeat center center;
        background-size:cover; 
        width:rem640(250);
        height:rem640(385);
        overflow: hidden;
        @include posbl(100,100);

        .top{
            width:100%;
            height:rem640(200);
            position: absolute;
            top:0;
            left:0;
        }
        .bottom{
            width:100%;
            height:rem640(200);
            position: absolute;
            bottom:0;
            left:0;
        }
    }
}
.slide8{
    background:url(http://wx.ooklady.com/imgs/xiaoqing/xiaoya/8bg.jpg) no-repeat center center;
    background-size:cover; 

    .product{
        width:100%;
        width:rem640(320);
        height:rem640(283);
        position: absolute;
        top:6rem;
        left:2rem;
        background:url(http://wx.ooklady.com/imgs/xiaoqing/xiaoya/8product.png) no-repeat center center;
        background-size:contain; 
    }
}
.slide9{
    background:url(http://wx.ooklady.com/imgs/xiaoqing/xiaoya/9bg.jpg) no-repeat center center;
    background-size:cover; 

    .product{
        width:100%;
        width:rem640(370);
        height:rem640(290);
        position: absolute;
        top:4rem;
        left:1rem;
        background:url(http://wx.ooklady.com/imgs/xiaoqing/xiaoya/9product.png) no-repeat center center;
        background-size:contain; 
    }
}
.slide10{
    background:url(http://wx.ooklady.com/imgs/xiaoqing/xiaoya/10bg.jpg) no-repeat center center;
    background-size:cover;   

    .product-list{
        width:100%;
        width:rem640(450);
        height:rem640(810);
        position: absolute;
        bottom:1rem;
        left:1rem;
        background:url(http://wx.ooklady.com/imgs/xiaoqing/xiaoya/10title.png) no-repeat center center;
        background-size:contain; 

        a{
            position: absolute;
            left:1.5rem;
            bottom:2rem;
            width:3rem;
            height:6rem;
        }
    }
}

.back{
    width:rem(40);
    z-index:10;
    @include postl(30,45);
}

.playground{
    width:rem(43);
    z-index:10;
    @include postl(30,500);
}

.next{
    width:rem(43);
    z-index:10;
    @include posbl(30,42);
}
.no-rotate{
    width:100%;
    height:100%;
    z-index:1000;
    position: absolute;
    top:0;
    left:0;
    color:#ccc;
    background:#000;
    display:none;

    .content{
        width:16rem;
    }
}
.mast{
    width:100%;
    height:100%;
    z-index:999;
    position: absolute;
    top:0;
    left:0;
    overflow: hidden;
    background:#fff;
    -webkit-transform:translate3d(-100%,0,0);
    transform:translate3d(-100%,0,0);
}
.mast-close{
    width:rem640(66);
    @include postr(30, 30);
}

.what{
    .what1{
        background:url(http://wx.ooklady.com/imgs/xiaoqing/xiaoya/1what1.jpg) no-repeat center center;
        background-size:cover; 
    }
    .what2{
        background:url(http://wx.ooklady.com/imgs/xiaoqing/xiaoya/1what2.jpg) no-repeat center center;
        background-size:cover; 
    }
}
.packing{
        background:url(http://wx.ooklady.com/imgs/xiaoqing/xiaoya/1packing.jpg) no-repeat center center;
        background-size:cover;   
}
.my{
        background:url(http://wx.ooklady.com/imgs/xiaoqing/xiaoya/1my.jpg) no-repeat center center;
        background-size:cover;     
}
