@import './lib/css/reset.scss';
@function rem($px){
    @return $px/640*16rem;
}
body,html{
    height:100%;
}

.page{
    width:100%;
    height:100%;
    background:#fff;
    position: absolute;
    top:0;
    left:0;
}

.loading{
    z-index:10;
    .loading-egg{
        display:block;
        width:rem(128);
        margin:rem(338) auto 0;
    }
    .loading-text{
        text-align: center;
        margin-top:0.5rem;
        font-size:0.55rem;
        letter-spacing: 1px;
    }
}
 .go-index{
        display:block;
        width:rem(200);
        height:rem(70);
        background:#f4a335;
        line-height: rem(70);
        text-align: center;
        font-size:0.6rem;
        color:#fff;
        border-radius: 10px;
        margin:-6rem auto 0;
        letter-spacing: 1px;
    }
.landing{
    z-index:9;
    background:url(http://wx.ooklady.com/imgs/xiaoqing/easer/landing-bg.png) no-repeat;
    background-size:cover;

    .landing-adv{
        display:block;
        width:rem(580);
        margin:rem(80) auto 0;
    }
    .landing-grass{
        width:100%;
        position: absolute;
        left:0;
        bottom:0;
    }
    .enter,.game-rule{
        display:block;
        width:rem(200);
        height:rem(70);
        background:#f4a335;
        line-height: rem(70);
        text-align: center;
        font-size:0.6rem;
        color:#fff;
        border-radius: 10px;
        margin:rem(38) auto 0;
        letter-spacing: 1px;
    }
    .not-first-enter{
        width:100%;
        height:100%;
        position: absolute;
        top:0;
        left:0;
        z-index:10;
        background:rgba(0,0,0,0.7);
        display:none;

        .prompt{
            text-align: center;
            font-size:0.7rem;
            color:#fff;
            margin-top:10rem;
            letter-spacing: 1px;
        }
    }

    .rule{
        width:100%;
        height:100%;
        background:rgba(0,0,0,0.5);
        position: absolute;
        top:0;
        left:0;

        .rule-content{
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
            padding:0.8rem 0.8rem;
            margin:rem(290) auto 0;
            width:rem(400);
            background:#fff;
            letter-spacing: 1px;
            border-radius: 8px;
            font-family: "楷体";
            line-height: 1rem;

            dt{
                text-align: center;
                font-weight: bold;
            }
            dd{
                margin-top:0.3rem;
                font-size:0.6rem;
                text-align: justify;
            }
        }
        .close-btn{
            display: block;
            width:rem(60);
            margin:1rem auto 0;
        }
    }
}

.game{
    z-index:8;
    background:url(http://wx.ooklady.com/imgs/xiaoqing/easer/landing-bg.png) no-repeat;
    background-size:cover;

    .landing-grass{
        width:100%;
        position: absolute;
        left:0;
        bottom:0;
    }

    .prize-wrapper{
        display:-webkit-flex;
        display:flex;
        width:rem(540);
        height:rem(300);
        margin:rem(170) 0 0 rem(78);
        

        .prize-item{
            flex:1;
            height:100%;
            position: relative;

            .hammer{
                width:rem(92);
                position: absolute;
                top:0;
                right:0;
                opacity:0;
                -webkit-transform-origin: right bottom;
                transform-origin: right bottom;
            }
            .za{-webkit-animation: za-ani 0.4s linear forwards;animation: za-ani 0.4s linear forwards;}
            @keyframes za-ani{
                0%{transform: rotate(0);}
                70%{transform: rotate(60deg);}
                100%{transform:rotate(-25deg)}
            }
            @-webkit-keyframes za-ani{
               0%{transform: rotate(0);}
                70%{transform: rotate(60deg);}
                100%{transform:rotate(-25deg)}
            }
            .egg{
                width:rem(156);
                position: absolute;
                bottom:0;
                left:0;
            }
        }
    }
}
.result{
     z-index:7;
    background:url(http://wx.ooklady.com/imgs/xiaoqing/easer/landing-bg.png) no-repeat;
    background-size:cover;

    .result{
        width:100%;
    }
    .result-grass{
        width:100%;
        position: absolute;
        left:0;
        bottom:0;
    }
    .prize-prompt{
        position: absolute;
        top:3rem;
        left:0;
        width:100%;
        line-height: 1rem;
        font-size:0.8rem;
        color:#ff9a10;
        text-align: center;
        font-weight: 500;
    }

    .use-rule{
        width:100%;
        position: absolute;
        top:6rem;
        left:0;
        font-size:0.6rem;
        text-align: center;
        line-height: 1rem;
        font-weight: 500;
    }
}
